extends app/layouts/layout.jade

block vars
  - var title = t('Change the Tool')
  - var page = 'home'

block content
  .cover
    .content
      .change-the-tool(src='/img/change-the-tool.png')
      a.btn.light(href='https://app.democracyos.org/signin')=t('Get started')
    .down-arrow
  .machines
  main
    .content
      h1=t('How it works')
    .how-it-works.content.features
      div
        img(src="/img/how-it-works-proposal.png")
        h2=t('Propose')
        p=t('Get from zero to democracy in a click. Build proposals and be the change you want to see.')
      div
        img(src="/img/how-it-works-debate.png")
        h2=t('Debate')
        p=t('Debate in a platform that rewards the best arguments and filters that noise that usually ends up calling the trolls.')
      div
        img(src="/img/how-it-works-vote.png")
        h2=t('Vote')
        p=t('With a clear deadline, get everyone on board to reach a voted decision and avoid endless debates.')

    .featurevideo
      .video
        iframe(width='100%', height='480', src='https://www.youtube.com/embed/NXfYNdapq3Q', frameborder='0')
      .quote
        p!=t('"We are 21st century citizens doing our best to interact with 19th century designed institutions that are based on an information technology of the 15th century. <br> It\'s time we start asking: What is democracy for the internet era?"')
        p.author Pia Mancini
        p.detail=t('The DemocracyOS at TED Global 2014')

    .content
      h1=t('The Technology')
    .the-technology.content.features
      div
        img(src="/img/the-technology-languages.png")
        h2=t('Open Source')
        p=t('Join a community that\'s hacking the future of democracy today. We are 100% open source with an GPLv3 license.')
      div
        img(src="/img/the-technology-opensource.png")
        h2=t('Multi-Language')
        p=t('DemocracyOS has been translated into 15+ languages, with new communities joining every week.')

    .press
      .content
        h1=t('Media')
      .press-items.content
        a(href='http://www.wired.com/2014/05/democracy-os/', target='_blank')
          img(src='/img/press-wired.png')
        a(href='http://www.vice.com/read/the-future-of-protest-looks-a-lot-like-the-past', target='_blank')
          img(src='/img/press-vice.png')
        a(href='http://www.theatlantic.com/international/archive/2014/07/designing-an-operating-system-for-democracy/374526/', target='_blank')
          img(src='/img/press-theatlantic.png')
        a(href='http://www.fastcompany.com/3043388/the-y-combinator-chronicles/why-y-combinator-funded-a-radical-political-party-in-argentina?partner=rss', target='_blank')
          img(src='/img/press-fastcompany.png')
        a(href='https://www.youtube.com/watch?v=7bAOT-57KeE', target='_blank')
          img(src='/img/press-bbc.png')

    .content
      h1=t('Who we are')
    .who-we-are.content.features
      div
        img(src="/img/who-we-are-der.png")
        h2=t('The Foundation')
        p!=t('Our technology is developed by <a href="http://democraciaenred.org" target="_blank">Democracia en Red</a>, a nonprofit organization based in Buenos Aires, Argentina.')

    main.content
      h1=t('The Team')
      .the-team
        .item
          .pic(style="background-image: url('/img/team/agustin.png')")
          p Agustín Frizzera
        .item
          .pic(style="background-image: url('/img/team/ana.jpg')")
          p Ana Lis Rodríguez Nardelli
        .item
          .pic(style="background-image: url('/img/team/esteban.jpg')")
          p Esteban Brenman
        .item
          .pic(style="background-image: url('/img/team/feli.jpg')")
          p Felipe Muñoz
        .item
          .pic(style="background-image: url('/img/team/florencia.jpg')")
          p Florencia Polimeni
        .item
          .pic(style="background-image: url('/img/team/gaston.jpg')")
          p Gastón Silberman
        .item
          .pic(style="background-image: url('/img/team/guido.png')")
          p Guido Vilariño
        .item
          .pic(style="background-image: url('/img/team/jose.jpg')")
          p José Fresco
        .item
          .pic(style="background-image: url('/img/team/mair.jpg')")
          p Mair Williams
        .item
          .pic(style="background-image: url('/img/team/martin.jpg')")
          p Martín Galanternik
        .item
          .pic(style="background-image: url('/img/team/matias.jpg')")
          p Matías Lescano
        .item
          .pic(style="background-image: url('/img/team/powa.jpg')")
          p Don Powa
        .item
          .pic(style="background-image: url('/img/team/sacha.jpg')")
          p Sacha Lifszyc
        .item
          .pic(style="background-image: url('/img/team/seba-fernandez.jpg')")
          p Sebastián Fernández
        .item
          .pic(style="background-image: url('/img/team/seba-ghelerman.jpg')")
          p Sebastián Ghelerman
        .item
          .pic(style="background-image: url('/img/team/pantufla.jpg')")
          p Pantufla

      .intro
        h1=t('How it all began')
        img.equipo(src='/img/about-us-equipo.jpg')
        p!=t('How it all began.text')

      .contact.content
        p.text-center=t('If you have questions or ideas to share, drop us a line at')
        p.text-center.email: a(href='mailto:speak@democracyos.org') speak@democracyos.org
