extends app/layouts/layout.jade

block vars
  - var title = t('Change the Tool')
  - var page = 'home'

block content
  .cover
    .content
      .change-the-tool(src='/img/change-the-tool.png')
      a.btn.light(href='https://app.democracyos.org/signin', target='_blank')= t('Get started')
    .down-arrow
  .machines
  main
    .content
      h1=t('How it works')
    .how-it-works.content.features
      div
        img(src="/img/how-it-works-proposal.png")
        h2=t('Propose')
        p=t('propose.text')
      div
        img(src="/img/how-it-works-debate.png")
        h2=t('Debate')
        p=t('debate.text')
      div
        img(src="/img/how-it-works-vote.png")
        h2=t('Vote')
        p=t('vote.text')

    .content
      h1=t('The Technology')
    .the-technology.content.features
      div
        img(src="/img/the-technology-languages.png")
        h2= t('Open Source')
        p= t('open-source.text')
      div
        img(src="/img/the-technology-opensource.png")
        h2= t('Multi-Language')
        p= t('DemocracyOS has been translated into 15+ languages, with new communities joining every week.')

    .press
      .content
        h1=t('Media')
      .press-items.content
        a(href='http://www.wired.com/2014/05/democracy-os/', target='_blank')
          img(src='/img/press-wired.png')
        a(href='http://www.vice.com/read/the-future-of-protest-looks-a-lot-like-the-past', target='_blank')
          img(src='/img/press-vice.png')
        a(href='http://www.theatlantic.com/international/archive/2014/07/designing-an-operating-system-for-democracy/374526/', target='_blank')
          img(src='/img/press-theatlantic.png')
        a(href='http://www.fastcompany.com/3043388/the-y-combinator-chronicles/why-y-combinator-funded-a-radical-political-party-in-argentina?partner=rss', target='_blank')
          img(src='/img/press-fastcompany.png')
        a(href='https://www.youtube.com/watch?v=7bAOT-57KeE', target='_blank')
          img(src='/img/press-bbc.png')

    .content
      h1=t('Who we are')
    .who-we-are.content.features
      div
        img(src="/img/who-we-are-der.png")
        h2=t('the-foundation')
        p!=t('the-foundation.text')

    main.content
      .contact.content
        p.text-center=t('If you have questions or ideas to share, drop us a line at')
        p.text-center.email: a(href='mailto:speak@democracyos.org') speak@democracyos.org
