doctype html
html(lang='en')
  block vars
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1', name='viewport')
    title DemocracyOS - #{title ? title : 'Change the Tool'}
    link(rel='shortcut icon' type='image/x-icon' href='/img/favicon.png')
    link(rel='apple-touch-icon' href='/img/favicon.png')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
    link(rel='stylesheet', type='text/css', href='/css/app.css')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load('bZcQ7zpDzXJeaZ0CvljC9HN3u9mPerUT');
      analytics.page()
      }}();
  body
    include ../partials/header
    div(class=page)
      block content
    include ../partials/footer
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
    script(src='/js/app.js')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:400,300,700|Montserrat')
